<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>445783033436-4cq3ns4n1n1eh06n34nsqeq4vdnut1ud.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.445783033436-4cq3ns4n1n1eh06n34nsqeq4vdnut1ud</string>
	<key>API_KEY</key>
	<string>AIzaSyC8QaodIZK8a5YrRgM-vEDGGBYd7O2V7Hs</string>
	<key>GCM_SENDER_ID</key>
	<string>445783033436</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.elmurodjon.shopinfo</string>
	<key>PROJECT_ID</key>
	<string>shopinfo-82f45</string>
	<key>STORAGE_BUCKET</key>
	<string>shopinfo-82f45.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:445783033436:ios:188e0db2394cba9b0fc899</string>
</dict>
</plist>